@model List<TrainingScoring.DomainModels.EvaluationForm>

<h2>Evaluation Forms</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.EvaluationFormCode</td>
                <td>@form.EvaluationFormName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@form.EvaluationFormId">Details</a>
                </td>
                <td>
                    <a asp-action="Create" class="btn btn-primary">Tạo mới phiếu đánh giá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
