@using TrainingScoring.WebUI.AppCodes;
@using static TrainingScoring.WebUI.AppCodes.SecurityModels;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-6">Chào mừng quý thầy cô đến với trang web đánh giá điểm rèn luyện sinh viên</p>
</div>

<div>
    <h4>Quyền sử dụng mà tài khoản thầy cô hiện có là:</h4>
    @{
        var user = User.GetUserData();

        if (user.Roles.Contains(WebUserRoles.Advisor))
        {
            <p>Giáo viên cố vấn</p>
        }

        if (user.Roles.Contains(WebUserRoles.Department))
        {
            <p>Hội đồng đánh giá cấp Khoa</p>
        }

        if (user.Roles.Contains(WebUserRoles.School))
        {
            <p>Hội đồng đánh giá cấp Trường</p>
        }

        if (user.Roles.Contains(WebUserRoles.SuperAdmin))
        {
            <p>Phòng đào tạo / Quản trị hệ thống</p>
        }
    }
</div>
