   <!-- Navbar Start-->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-xxl">
        <a href="#"><img src="~/themes/assets/img/logo-small.png" alt="logo-img" class="rounded logo-img d-block" style="height: 40px;"></a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar links -->
        <div class="navbar-nav collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav col-md-10 col-12 me-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>
                <!-- Student Functions -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="studentDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Chức năng sinh viên</a>
                    <ul class="dropdown-menu" aria-labelledby="studentDropdown">
                        <li><h5 class="dropdown-header">Chức năng của sinh viên</h5></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="~/Student/Evaluatetrainingresults">Đánh giá điểm rèn luyện</a></li>
                        <li><a class="dropdown-item" href="~/Student/Seetrainingresults">Xem điểm rèn luyện</a></li>
                    </ul>
                </li>
                <!-- Class Committee Functions -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="committeeDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Chức năng Ban cán sự lớp</a>
                    <ul class="dropdown-menu" aria-labelledby="committeeDropdown">
                        <li><h5 class="dropdown-header">Chức năng của ban cán sự</h5></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="~/Classmittee/Index">Xem danh sách sinh viên Lớp</a></li>
                        <li><a class="dropdown-item" href="~/Classmittee/Evaluatetrainingresults">Đánh giá rèn luyện cho sinh viên</a></li>
                    </ul>
                </li>
            </ul>
            <!-- User Info -->
            <ul class="navbar-nav col-md-2 col-12 me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-profile rounded-circle" src="~/themes/assets/icons/profile.png">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Lưu Lê Thanh Tú</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><h5 class="dropdown-header">Quản lý thông tin cá nhân</h5></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="#!">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-divider"></a></li>
                        <li><a class="dropdown-item" href="#!">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->