<!--Semester Start-->
<div class="container-fluid">
    <div class="row highlighted-section">
        <div class="col-xxl-5 "></div>
        <div class="col-xxl-7 col-lg-12 col-md-12 col-12">
            <div class="row align-items-center justify-content-between" style="line-height: 20px; font-size: 14px;">
                <a class="semester text-end" asp-action="SelectSemester" asp-controller="Home" asp-area="Student" title="Nhấp vào đây để thay đổi học kỳ">
                    <b>
                        <i class="fas fa-solid fa-graduation-cap"></i>
                        @ViewBag.SelectedGrade
                    </b>
                    <b style="margin-left: 20px;">
                        <i class="fas fa-solid fa-book"></i>
                        @ViewBag.SelectedMajor
                    </b>
                    <b style="margin-left: 20px;">
                        <i class="fas fa-solid fa-book-open"></i>
                        Học kỳ: @ViewBag.SelectedSemester, năm học: @ViewBag.SelectedAcademicYear
                    </b>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Semester End-->
