<!--Semester Start-->
<div class="container-fluid">
    <div class="row highlighted-section">
        <div class="col-xxl-6 col-lg-4 col-md-2"></div>
        <div class="col-xxl-6 col-lg-8 col-md-10 col-12">
            <div class="row align-items-center justify-content-between" style="line-height: 20px; font-size: 14px;">
                <a class="semester text-end" href="/Student/selectSemester" title="Nhấp vào đây để thay đổi học kỳ">
                    <b>
                        <i class="fas fa-solid fa-graduation-cap"></i>
                        Khóa 44 (2020-2024)
                    </b>
                    <b style="margin-left: 20px;">
                        <i class="fas fa-solid fa-book"></i>
                        KỸ THUẬT PHẦN MỀM (ĐT)
                    </b>
                    <b style="margin-left: 20px;">
                        <i class="fas fa-solid fa-book-open"></i>
                        Học kỳ: 2, năm học: 2023-2024
                    </b>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Semester End-->