@using TrainingScoring.WebUI.AppCodes;
@using static TrainingScoring.WebUI.AppCodes.SecurityModels;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-6">Chào mừng bạn đến với trang web đánh giá điểm rèn luyện sinh viên</p>
</div>

<div>
    <h4>Quyền sử dụng mà tài khoản bạn hiện có là:</h4>
    @{
        var user = User.GetUserData();
        if (user.Roles.Contains(WebUserRoles.Classmittee))
        {
            <p>Ban cán sự</p>
        }
        if (user.Roles.Contains(WebUserRoles.Student))
        {
            <p>Sinh viên</p>
        }
    }
</div>

