@using TrainingScoring.WebUI.AppCodes;
@using static TrainingScoring.WebUI.AppCodes.SecurityModels;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome student</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @{
        var user = User.GetUserData();
        if (user.Roles.Contains(WebUserRoles.Classmittee))
        {
            <p>BCS mới thấy nè</p>
        }
        if (user.Roles.Contains(WebUserRoles.Student))
        {
            <p>Student mới thấy nè</p>
        }
    }
</div>

