
@{
    ViewData["Title"] = "TrainingScoreOfGrade";
}

<head>
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="departmentInfo" class="form-label">Khoa:</label>
                                <input type="text" class="form-control" id="departmentInfo" value="Công nghệ thông tin" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="classSelect" class="form-label">Chọn Lớp:</label>
                                <select class="form-select" id="classSelect">
                                    <option selected>KTPM_K44 - Kỹ thuật phần mềm K44</option>
                                    <option>CNNK_44A - Công nghệ thông tin K44A</option>
                                    <option>KTPM_K43 - Kỹ thuật phần mềm K43</option>
                                    <option>CNNK_44B - Công nghệ thông tin K44B</option>
                                    <option>CNNK_44C - Công nghệ thông tin K44C</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card shadow">
                    <div class="card-header mb-3 fw-bold text-uppercase">
                        <div>Danh sách các sinh viên thuộc lớp Kỹ thuật phần mềm</div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" width="5%" style="vertical-align: middle;">STT</th>
                                        <th class="text-center" width="15%" style="vertical-align: middle;">Mã sinh viên</th>
                                        <th style="vertical-align: middle;">Họ và tên</th>
                                        <th style="vertical-align: middle;" width="10%">Giới tính</th>
                                        <th class="text-center" style="vertical-align: middle;" width="15%">Điểm RL</th>
                                        <th class="text-center" style="vertical-align: middle;" width="15%">Xếp loại</th>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align: middle;">
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">20T1080055</td>
                                        <td>Lưu Lê Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">95</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-center">20T1080056</td>
                                        <td>Trần Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">90</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="text-center">20T1080057</td>
                                        <td>Nguyễn Thị Thu Ni</td>
                                        <td class="text-center">Nữ</td>
                                        <td class="text-center">89</td>
                                        <td class="text-center">Tốt</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td class="text-center">20T1080055</td>
                                        <td>Lưu Lê Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">95</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td class="text-center">20T1080056</td>
                                        <td>Trần Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">90</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td class="text-center">20T1080057</td>
                                        <td>Nguyễn Thị Thu Ni</td>
                                        <td class="text-center">Nữ</td>
                                        <td class="text-center">89</td>
                                        <td class="text-center">Tốt</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">7</td>
                                        <td class="text-center">20T1080055</td>
                                        <td>Lưu Lê Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">95</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">8</td>
                                        <td class="text-center">20T1080056</td>
                                        <td>Trần Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">90</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">9</td>
                                        <td class="text-center">20T1080057</td>
                                        <td>Nguyễn Thị Thu Ni</td>
                                        <td class="text-center">Nữ</td>
                                        <td class="text-center">89</td>
                                        <td class="text-center">Tốt</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10</td>
                                        <td class="text-center">20T1080055</td>
                                        <td>Lưu Lê Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">95</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">11</td>
                                        <td class="text-center">20T1080056</td>
                                        <td>Trần Thanh Tú</td>
                                        <td class="text-center">Nam</td>
                                        <td class="text-center">90</td>
                                        <td class="text-center">Xuất sắc</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">12</td>
                                        <td class="text-center">20T1080057</td>
                                        <td>Nguyễn Thị Thu Ni</td>
                                        <td class="text-center">Nữ</td>
                                        <td class="text-center">89</td>
                                        <td class="text-center">Tốt</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row justify-content-center justify-content-lg-end mt-3 mb-3">
                        <div class="col-auto">
                            <div class="text-center">
                                <a asp-action="TrainingScoreOfDepartment" asp-controller="EvaluationForm" asp-area="Admin" class="btn btn-secondary btn-icon-split mx-1">
                                    <span class="text">Quay lại</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

