
@{
    ViewData["Title"] = "Seetrainingresults";
}

<div class="container-fluid">
    <div class="card-header fw-bold text-uppercase">Kết quả đánh giá rèn luyện</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="bg-secondary" style="vertical-align: middle;">
                    <tr>
                        <th scope="col">Học kỳ, năm học</th>
                        <th scope="col">Lớp sinh hoạt</th>
                        <th scope="col">Giáo viên CVHT/CN</th>
                        <th scope="col">Điểm RL</th>
                        <th scope="col">Xếp loại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Học kỳ 1, năm học 2020-2021</td>
                        <td>Kỹ thuật phần mềm (đặc thù) K44</td>
                        <td>Trần Nguyên Phong</td>
                        <td>99</td>
                        <td>Xuất sắc</td>
                    </tr>

                    <tr>
                        <td>Học kỳ 2, năm học 2020-2021</td>
                        <td>Kỹ thuật phần mềm (đặc thù) K44</td>
                        <td>Trần Nguyên Phong</td>
                        <td>95</td>
                        <td>Xuất sắc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

