
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row justify-content-center justify-content-lg-end mt-2">
        <div class="col-auto">
            <div class="text-center">
                <a href="#" class="btn btn-info btn-icon-split mx-1">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Nạp điểm</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Dòng chứa danh sách sinh viên -->
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <h4 class="card-header fw-bold">Danh sách sinh viên đánh giá rèn luyện lớp sinh hoạt</h4>
                <div class="card-body">
                    <!-- Thêm class table-responsive để bảng có thể cuộn ngang -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-full">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã sinh viên</th>
                                    <th>Tên sinh viên</th>
                                    <th>Trạng thái</th>
                                    <th>Điểm SV</th>
                                    <th>Điểm BCS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>20T1080055</td>
                                    <td>Lưu Lê Thanh Tú</td>
                                    <td>Đã nạp</td>
                                    <td>99</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>20T1080056</td>
                                    <td>Nguyễn Xuân Tân Lộc</td>
                                    <td>Đã nạp</td>
                                    <td>90</td>
                                    <td></td>
                                    <td><a href="./StudentPoint.html" class="text-info">Xem chi tiết</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

